ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: aqua;
        }

.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

.body {
    column-count: 3;
    text-align: center
}

.title {
    column-span: all;
    text-align: center;
}

.moreBody {
    margin-top: 0;
    column-count: 6;
    text-align: center;
}

.test {
    margin-top: 0;
    column-span: none;
    column-gap: 8px;
    text-align: center;
    align-content: center
}

.stubbornP {
    margin-top:0;
}
#logo {
    height:50%;
    width:50%;
}
#basicP {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-left:250px;
    margin-right:250px;
}
body {

}
.descript {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
  
}